# Nuxt dev/build outputs
NUXT_PUBLIC_API_BASE=http://localhost/EventBudget/api

.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
